.top-bar {
  background-image: linear-gradient(#0073c6, #003857);
  padding: 5px;
  height: 60px;
  line-height: 40px;
  top: 0;
  position: fixed;
  z-index: 1;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.top-bar-links {
  justify-content: space-between;
}

.logo {
  height: 70px;
  top: -10px;
  left: -1px;
}
