header {
	position: fixed;
	margin-top: 0px;
	height: 60px;
  width: 100%;
  padding: 5px;
	background-image: linear-gradient(#0073c6, #003857);
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 70px;
  top: -10px;
  left: -1px;
}
