
.col25prof{
    flex:25%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logolarge {
    height: 200px;
    top: -10px;
    left: -1px;
  }

  .profiletext {
    font-size: 26px;
  }

  .star-ratings-css-profile {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 75px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
    text-align: justify;
    left: 0px;
}