.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 75px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
    text-align: justify;
}
  
.star-ratings-css-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: justify;
}
    .star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
    text-align: justify;
}


.pic{
    width: 128px;
    height:128px;
}
.searchmain{
    width:100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display:flex;
    padding-top: 10px;
    margin-top: 60px;
}
.offer{
    width: 100%;
    display:flex;
    box-sizing: border-box;
    cursor: pointer;
}
.offer:hover{
    opacity: 0,6;
    background-color:rgb(75, 75, 75);
}
.title{
    font-size: 24px;
    margin:10px;
}
.review::before{
    content: "\26e4\26e4\26e4\26e4\26e4";
    display: block;

}
.review{
    text-align: center;
}
.marginer{
    margin:10px;
}
.description{
    word-break: break-all;
    display:block;
    width:100%;
}
.flexcolumn{
    display:flex;
    flex-direction: column;
}
.flexrow{
    display:flex;
    flex-direction: row;
}
.col75{
    flex:75%;
    flex-direction: column;
}
.col25{
    flex:25%;
    flex-direction: column;
}
.col33{
    flex:33%;  
    margin:10px; 
}

.btnbuy{
    float:right;
}

.bottomwrapper{
    display:flex;
    flex-wrap:wrap;
    margin-top: auto;
}